This notebook's purpose is to generate pickle files for the fbprophet models

In [1]:
import pandas as pd
from fbprophet import Prophet

In [2]:
df = pd.read_excel('../data/Sample - Superstore.xls')

In [3]:
#Preparando função de preparação da Time Series
def prepare_time_series (data, category):
    data = data.loc[df['Category'] == category]
    cols = ['Row ID', 'Order ID', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name',
            'Segment', 'Country', 'City','State', 'Postal Code','Region', 'Product ID', 'Category',
            'Sub-Category', 'Product Name', 'Quantity', 'Discount', 'Profit']
    data.drop(cols, axis=1, inplace=True)
    data = data.sort_values('Order Date')
    data = data.groupby('Order Date')['Sales'].sum().reset_index()
    data = data.set_index('Order Date')
    data = data['Sales'].resample('MS').mean()
    data = data.reset_index()
    data = data.rename(columns= { "Order Date":"ds" , "Sales": "y" })
    return data

In [4]:
def fitModel(data):
    model = Prophet()
    model.fit(data)
    return model

In [5]:
def predict(model, periods = 6):
    future_dates = model.make_future_dataframe(periods=periods, freq='MS')
    forecast = model.predict(future_dates)
    return forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [6]:
def savePickle(results, category):
    import pickle
    pickle.dump(results, open(category+".pkl","wb"))
    print('Pickle file saved as '+category+".pkl")

In [7]:
for x in df.Category.unique():
    category = x
    data = prepare_time_series(df, category)
    model = fitModel(data)
    savePickle(model, category)

/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pystan/misc.py:399: FutureWarning:

Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.

/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pystan/misc.py:399: FutureWarning:

Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.

Pickle file saved as Furniture.pkl

/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/home/renan/anaconda3/envs/prophet/lib/python3.7/site-packages/pystan/misc.py:399: FutureWarning:

Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.

Pickle file saved as Office Supplies.pkl
Pickle file saved as Technology.pkl

In [8]:
import prophet

In [9]:
prophet.predict('Furniture')

           ds         yhat   yhat_lower   yhat_upper
0  2014-01-01   535.372051   380.337102   694.395630
1  2014-02-01   451.116320   293.574424   596.134786
2  2014-03-01   706.401580   556.843289   866.206026
3  2014-04-01   630.086487   481.080226   782.822241
4  2014-05-01   570.801960   400.690912   734.532321
5  2014-06-01   619.221566   472.210608   780.054063
6  2014-07-01   653.108224   499.094944   808.678470
7  2014-08-01   618.725269   469.970386   774.240414
8  2014-09-01  1198.882434  1044.078410  1360.346066
9  2014-10-01   709.886092   562.711679   869.550804
10 2014-11-01  1171.198037  1003.941813  1331.496251
11 2014-12-01  1243.415110  1083.263926  1399.501352
12 2015-01-01   612.913979   448.875287   778.438607
13 2015-02-01   403.326273   243.775032   560.299909
14 2015-03-01   792.323472   638.007576   953.846337
15 2015-04-01   693.610467   549.317143   843.781335
16 2015-05-01   563.897674   397.936155   725.999360
17 2015-06-01   542.119174   390.233455   708.694747
18 2015-07-01   703.060643   553.010786   864.372569
19 2015-08-01   600.049027   433.665925   748.833898
20 2015-09-01  1305.940961  1151.431566  1472.255363
21 2015-10-01   741.825698   586.337968   888.119180
22 2015-11-01  1170.198947  1020.804913  1327.430668
23 2015-12-01  1175.809835  1022.488551  1341.892475
24 2016-01-01   691.326424   540.322547   848.785388
25 2016-02-01   356.302110   203.288996   503.019874
26 2016-03-01   604.998637   449.098978   759.690833
27 2016-04-01   566.173867   416.497484   738.147986
28 2016-05-01   645.725025   497.561758   801.575921
29 2016-06-01   842.036556   695.563204   995.307988
30 2016-07-01   625.093745   467.469316   774.716615
31 2016-08-01   728.467072   580.962674   882.600187
32 2016-09-01  1054.051323   884.724262  1216.708028
33 2016-10-01   708.735078   552.215305   863.850016
34 2016-11-01  1235.310446  1086.052390  1392.020536
35 2016-12-01  1448.099902  1285.827900  1604.544436
36 2017-01-01   526.412094   367.851580   692.781321
37 2017-02-01   567.317120   410.308131   725.257903
38 2017-03-01   689.058388   519.708716   859.466230
39 2017-04-01   632.711639   473.834296   797.765255
40 2017-05-01   643.219395   487.045026   792.470333
41 2017-06-01   764.359934   616.921536   915.510265
42 2017-07-01   672.246779   512.076940   829.250020
43 2017-08-01   706.660871   547.160402   871.857991
44 2017-09-01  1160.011826  1022.086303  1310.001266
45 2017-10-01   743.970696   590.025858   914.452226
46 2017-11-01  1238.040310  1071.466611  1388.252564
47 2017-12-01  1379.338986  1223.980727  1520.045037
48 2018-01-01   603.063933   439.652219   750.791934
49 2018-02-01   518.808201   359.193072   668.123446
50 2018-03-01   774.093461   617.450733   925.252939
51 2018-04-01   697.778367   527.623441   855.362493
52 2018-05-01   638.493840   479.969958   799.135364
53 2018-06-01   686.913446   530.081890   845.137997